doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/tapa.md
      include ../slides/introduccion.md
      include ../slides/objetivos.md
      include ../slides/laprevia.md
      include ../slides/requisitos.md
      include ../slides/estrategia.md
      include ../slides/devolucion.md
      include ../slides/problemas.md
      include ../slides/proyeccion.md
      include ../slides/conclusion.md
    include inc/scripts
