body
  font-family "Droid Serif"

h1
h2
h3
  margin-bottom 0
  font-family "Yanone Kaffeesatz"
  font-weight 400

.grande
  font-size 6em
  color white
  text-shadow -10px 2px 35px cyan

.remark-slide-content
  h1
    font-size 3em
  h2
    font-size 2em
  h3
    font-size 1.6em
  background #ececec

.footnote
  position absolute
  bottom 2em

li
  p
    line-height 1.25em

.red
  color #fa0000

.cyan
  color cyan

.large
  font-size 2em

a, a > code
  color rgb(249, 38, 114)
  text-decoration none

code
  border-radius 5px
  background #e7e8e2

.remark-code
.remark-inline-code
  font-family "Ubuntu Mono"

.remark-code-line-highlighted
  background-color #373832

.pull-left
  float left
  width 47%

.pull-right
  float right
  width 47%

.pull-right ~ p
  clear both

#slideshow
  .slide
    .content
      code
        font-size 0.8em
      pre
        code
          padding 15px
          font-size 0.9em

.inverse
  /*color #777872*/
  color #d9dad0
  /* background #272822 */
  background #07071b
  /* background #1b1e57 */
  text-shadow 0 0 15px black

.inverse h1
.inverse h2
  line-height 0.8em
  color #f3f3f3

/* Slide-specific styling */

#slide-inverse
  .footnote
    bottom 12px
    left 20px

#slide-how
  .slides
    position absolute
    top  151px
    right 140px
    font-size 0.9em

#slide-how
  .slides
    h3
      margin-top 0.2em

#slide-how
  .slides
    .first
    .second
      width 120px
      height 90px
      padding 1px 20px
      box-shadow 0 0 10px #777

#slide-how
  .slides
    .first
      position absolute
      z-index 1
      top 20%
      left 20%
      background #fff

#slide-how
  .slides
    .second
      position relative
      z-index 0
      background #fff

/* Two-column layout */

.left-column
  float left
  width 20%
  height 92%
  color #777

.left-column
  h2:last-of-type
  h3:last-child
    color #000

.right-column
  float right
  width 75%
  padding-top 1em

.chart
  font 17px sans-serif
  background-color steelblue
  text-align right
  padding 3px
  margin 5px
  margin-left 15%
  color black
  box-shadow 0 4px 10px cyan