head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="DATA POSTA"
  meta(name="description" content="Charla comite de usuarios Sigeva")
  meta(name="author" content="emigpa")
  link(rel="stylesheet", href="css/main.css")
